extends ./layout

block vars
  - var title = 'Profile'

block content

  h2 My Profile

  hr
  if error
    p #{error}
  if success
    p #{success}
  if user
      div.panel.panel-default
        div.panel-heading.
          Edit your profile information below, then click save to save your changes.
        div.panel-body
          form.form-horizontal(method='post')
            input(type="hidden", name="_csrf", value=csrfToken)
            div.form-group
              label.control-label.col-sm-4 Username
              div.col-sm-4
                input.form-control(type='text', name='username', value=user.user, disabled)
            div.form-group
              label.control-label.col-sm-4 Password
              div.col-sm-4
                input.form-control(type='password', name='password', maxlength=60, required=true)
            div.form-group
              label.control-label.col-sm-4 First Name
              div.col-sm-4
                input.form-control(type='text', name='firstname', value=user.fname, pattern="[A-Za-z]+", maxlength=20, placeholder="(alphabetic only)")
            div.form-group
              label.control-label.col-sm-4 Last Name
              div.col-sm-4
                input.form-control(type='text', name='lastname', value=user.lname, pattern="[A-Za-z]+", maxlength=20, placeholder="(alphabetic only)")
            div.form-group
              div.col-sm-offset-4.col-sm-4
                button.btn.btn-default(type='submit') Save
