extends ./layout

block vars
  - var title = 'Register'

block content
  h1 Create an Account

  if error
    p #{error}

  form.form-group(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    
    span What are you registering as?
    br
    select(name="usertype")
      option(value="donor") Donor
      option(value="volunteer") Volunteer
    br
    br

    span Username:
    input.form-control(type="text", name="username", pattern="[A-Za-z0-9]+", maxlength=20, autofocus, placeholder="(alphanumeric, max 20 characters)", required=true)
    br
    
    span Password:
    input.form-control(type="password", name="password", maxlength=60, required=true)
    br
    
    span First Name:
    input.form-control(type="name", name="firstname", pattern="[A-Za-z]+", maxlength=20, placeholder="(alphabetic only)", required=true)
    br
    
    span Last Name:
    input.form-control(type="name", name="lastname", pattern="[A-Za-z]+", maxlength=20, placeholder="(alphabetic only)", required=true)
    br

    span E-mail:
    input.form-control(type="email", name="email", maxlength=320, required=true)
    br

    span Contact Phone Number:
    input.form-control(type="tel", name="phone", maxlength=10, required=false)
    br
    
    button(type="submit", class="btn btn-lg btn-primary btn-block") Register
